@{
    Layout = null;
    var firstEmployee = (ViewBag.FirstEmployee as EmployeeDirectory.Web.Models.Employee);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h1>Employee Directory</h1>
    @if(firstEmployee != null)
    {
        <div>
            <label>First Employee:</label>
            <span>@firstEmployee.FullName</span>
        </div>
    }

    <div>
        <form action="/Employee/Lookup" method="post">
            <input type="hidden" name="body" value="David"/>
            <input type="hidden" name="from" value="+15555555555" />
            <input type="submit"/>
        </form>
    </div>
</body>
</html>
